/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

/*
.zbozi {
  border: 2px solid red;
}

.vizual {
  border: 2px dashed green;
}

.logo {
  border: 2px solid hotpink;
}

.bota {
  border: 2px solid gold;
}

.cenovka {
  border: 2px solid fuchsia;
}

.detaily {
  border: 2px dashed blue;
}

.akce {
  border: 2px solid greenyellow;
}
*/

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.zbozi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 440px;
}

/*--------levá polovina---------------*/
.vizual {
  width: 50%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  padding: 30px;
  background-image: linear-gradient(#06d7c1, #50cc49);
  color: white;
  position: relative;
}

.slogan {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.bota {
  position: absolute;
  right: -10px;
}

.cenovka {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: right;
}

.cena {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

.zaruka {
  font-size: 12px;
  font-weight: 400;
}

/*--------pravá polovina---------------*/
.detaily {
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  padding: 30px;
  background-color: white;
  position: relative;
}
.nazev {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.produkt {
  color: #959595;
}

.popis {
  padding-bottom: 30px;
  border-bottom: 1.5px solid #06d7c1;
  margin: 30px auto;
}

.parametr {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.velikosti {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 5px;
  margin: 6px;
}


li:hover {
  font-weight: 500;
  color: #f15f42;
  border: 1px solid #f15f42;
  border-radius: 50%;
  padding: 5px;
  margin: 6px;
}

/*.vybrana {
  font-weight: 500;
  color: #f15f42;
  border: 1px solid #f15f42;
  border-radius: 50%;
  padding: 5px;
  margin: 6px;
}*/

.akce {
  position: absolute;
  bottom: 30px;
  background-color: #f15f42;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tlacitko {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.tlacitko:visited {
  color: white;
}
